In [1]:
import numpy as np
import pandas as pd

## Function to be estimated
$$f(x) = e^{-x}-x = 0$$

In [2]:
def func(x):
    return np.exp(-x)-x

true_r = 0.56714329

## Secant Method Iteration

In [3]:
#true error and approximation error respect with x_i+1 and x_i
def secant_method(xiprev, x, func, true_root, max_iter=1000, err_tolerance=3):
    es = 0.5*10**(2-err_tolerance)

    #xiprevious = x_i-1
    xiprevious = xiprev
    #xi = x_i
    xi = x

    ea_array = np.zeros(0)
    et_array = np.zeros(0)
    xi_array = np.zeros(0)
    xiprev_array = np.zeros(0)
    xilatest_array = np.zeros(0)


    for i in range(max_iter):

        xi_array = np.append(xi_array, xi)
        xiprev_array = np.append(xiprev_array, xiprevious)

        #secant calculation
        #xilatest = x_i+1
        xilatest = xi - ((func(xi)*(xiprev-xi))/(func(xiprev)-func(xi)))
        xilatest_array = np.append(xilatest_array, xilatest)
        
        # check error
        ea = np.abs((xilatest-xi)/(xilatest))*100
        et = np.abs((true_root-xilatest)/(true_root))*100
        ea_array = np.append(ea_array, ea)
        et_array = np.append(et_array, et)

        xiprevious = xi
        xi = xilatest

        if(ea<es):
            print("iteration break at ", i+1)
            break

    return xiprev_array, xi_array, xilatest_array, ea_array, et_array

In [4]:
#true error and approximation error respect with x_i+1 and x_i
def modified_secant_method(x, deltax, func, true_root, max_iter=1000, err_tolerance=3):
    es = 0.5*10**(2-err_tolerance)

    #xi = x_i
    xi = x

    ea_array = np.zeros(0)
    et_array = np.zeros(0)
    xi_array = np.zeros(0)
    xilatest_array = np.zeros(0)

    for i in range(max_iter):

        xi_array = np.append(xi_array, xi)
        #secant calculation
        #xilatest = x_i+1
        xilatest = xi - ((deltax*xi*func(xi))/(func(xi+deltax*xi)-func(xi)))
        xilatest_array = np.append(xilatest_array, xilatest)
        
        # check error
        ea = np.abs((xilatest-xi)/(xilatest))*100
        et = np.abs((true_root-xilatest)/(true_root))*100
        ea_array = np.append(ea_array, ea)
        et_array = np.append(et_array, et)

        xi = xilatest

        if(ea<es):
            print("iteration break at ", i+1)
            break

    return xi_array, xilatest_array, ea_array, et_array

In [5]:
xiprev_array, xi_array, xilatest_array, ea_array, et_array = secant_method(0, 1, func, true_r, 1000, 3)

df = pd.DataFrame({"xi-1":xiprev_array, "xi":xi_array, "f(xi-1)":func(xiprev_array), "f(x)":func(xi_array), "xi+1":xilatest_array, "et":et_array})

# start table from 1
df.index += 1

display(df)

iteration break at  5

       xi-1        xi   f(xi-1)      f(x)      xi+1        et
1  0.000000  1.000000  1.000000 -0.632121  0.612700  8.032634
2  1.000000  0.612700 -0.632121 -0.070814  0.572181  0.888333
3  0.612700  0.572181 -0.070814 -0.007888  0.567703  0.098727
4  0.572181  0.567703 -0.007888 -0.000877  0.567206  0.010978
5  0.567703  0.567206 -0.000877 -0.000098  0.567150  0.001221

In [11]:
xi_array, xilatest_array, ea_array, et_array = modified_secant_method(1.0, 0.01, func, true_r, 1000, 3)

df = pd.DataFrame({"xi":xi_array, "f(x)":func(xi_array), "xi+1":xilatest_array, "et":et_array})

# start table from 1
df.index += 1

display(df)

iteration break at  3

         xi      f(x)      xi+1        et
1  1.000000 -0.632121  0.537263  5.268620
2  0.537263  0.047083  0.567010  0.023557
3  0.567010  0.000209  0.567143  0.000024